---
import Layout from '../layouts/Layout.astro'
import Link from '@components/Link.astro'

type Post = {
  postTitle: string
  postDescription: string
  postURL: string
}

const posts: Post[] = [
  {
    postTitle: 'I discovered a new way to handle Javascript Promises!',
    postDescription:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis dolor eget lobortis fringilla. Pellentesque feugiat nulla iaculis, rhoncus metus in, auctor nibh.',
    postURL: '/life',
  },
  {
    postTitle: "Don't use iCloud for Development",
    postDescription:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis dolor eget lobortis fringilla. Pellentesque feugiat nulla iaculis, rhoncus metus in, auctor nibh.',
    postURL: '/life',
  },
  {
    postTitle: 'Today I learned Absolute and Relative URL Paths',
    postDescription:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis dolor eget lobortis fringilla. Pellentesque feugiat nulla iaculis, rhoncus metus in, auctor nibh.',
    postURL: '/life',
  },
]
---

<Layout>
  <!-- Tech Articles -->
  <section class="space-y-4">
    <h1 class="text-white font-tilt text-3xl text-center">TECH ARTICLES</h1>
    <div class="flex flex-col gap-3">
      <h2 class="text-display text-xl text-center font-medium">
        I just deployed my personal blog
      </h2>
      <div class="mx-auto bg-secondary w-full h-[320px]"></div>
    </div>
    <!-- SubArticle.tsx -->
    <div class="flex flex-col gap-4 items-center">
      <h2 class="text-white text-xl text-center">Previous articles</h2>
      {
        posts.map((data) => (
          <div class="flex flex-col">
            <h2 class="text-display font-medium text-lg">{data.postTitle}</h2>
            <p class="text-white text-base font-light line-clamp-3">
              {data.postDescription}
            </p>
            <Link
              className="mt-2"
              href={data.postURL}
              state="default"
              id="link"
            >
              Read more
            </Link>
          </div>
        ))
      }
      <Link className="mt-2" href="/" state="active" id="link">View more</Link>
    </div>
  </section>
</Layout>
