---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<nav class="flex bg-secondary px-24 py-6">
		<h1 class="mr-auto font-bold text-display tracking-wide font-tilt uppercase">achille lanutan</h1>
		<ul class="flex gap-8 text-display">
			<li class="hover:-translate-y-[0.1rem] transition-transform"><a href="tech">Tech</a></li>
			<li class="hover:-translate-y-[0.1rem] transition-transform"><a href="life">Life</a></li>
			<li class="hover:-translate-y-[0.1rem] transition-transform"><a href="about">About</a></li>
			<li class="text-subtitle"><a href="portfolio">Portfolio</a></li>
		</ul>
	</nav>
</Layout>

