---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<nav class="flex px-24 py-4">
		<h1 class="mr-auto font-bold">Achille Lanutan</h1>
		<ul class="flex gap-8">
			<li><a href="tech">Tech</a></li>
			<li><a href="life">Life</a></li>
			<li><a href="about">About</a></li>
			<li><a href="portfolio">Portfolio</a></li>
		</ul>
	</nav>
</Layout>

