---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <h1 class="text-white">
        This is the portfolio page, however it's still currently under
        construction.
    </h1>
</Layout>
