---
import Hamburger from './Hamburger'
---

<nav class="flex bg-secondary px-8 py-6">
  <a
    href="/"
    class="mr-auto font-bold text-display tracking-wide font-tilt uppercase"
  >
    <h1>achille lanutan</h1>
  </a>
  <Hamburger client:load />
</nav>
