---
import Hamburger from './Hamburger'
import Navlink from '@components/Navlink.astro'
const navlinks = [
  {
    routePath: '/tech',
    routeName: 'Tech',
  },
  {
    routePath: '/life',
    routeName: 'Life',
  },
  {
    routePath: '/about',
    routeName: 'About',
  },
  {
    routePath: '/portfolio',
    routeName: 'Portfolio',
  },
]
---

<nav class="flex bg-secondary px-8 py-6">
  <a
    href="/"
    class="mr-auto font-bold text-display tracking-wide font-tilt uppercase"
  >
    <h1>achille lanutan</h1>
  </a>
  <ul class="hidden md:flex gap-16 text-display h-full bg-opacity-20 text-sm">
    {
      navlinks.map((navlink): typeof Navlink => (
        <Navlink routeName={navlink.routeName} routePath={navlink.routePath} />
      ))
    }
  </ul>

  <Hamburger client:load />
</nav>
