---
import { cn } from '../utils/utils'
import type { HTMLAttributes } from 'astro/types'

type Props = {
  routePath?: string
  routeName?: string
} & HTMLAttributes<'li'>

const { routePath, routeName, ...attributes } = Astro.props
---

<li
  {...attributes}
  class={cn('hover:-translate-y-[0.1rem] hover:text-accent transition-all', {
    'text-subtitle hover:translate-y-0 cursor-default line-through outline-none hover:text-subtitle':
      routePath === '/portfolio',
  })}
>
  <a href={routePath}>{routeName}</a>
</li>
